@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/RobotoCondensed-Light.ttf); }
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PT_Sans-Web-Regular.ttf); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url("../images/background.png") no-repeat center fixed;
  background-size: cover;
  font-family: "Roboto Condensed";
  font-size: 14px;
  margin: 0; }

h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1em; }

p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7em; }

#pre-header {
  width: 100%;
  height: 340px; }

.wrapper-top {
  width: 100%;
  z-index: 10; }
  .wrapper-top #header {
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease; }
    .wrapper-top #header h1 {
      font-size: 42px;
      margin: 0;
      line-height: 120px;
      font-weight: 100;
      color: white;
      text-transform: uppercase; }
  .wrapper-top #navbar {
    margin: auto;
    width: 60%;
    height: 60px;
    background-color: rgba(23, 23, 23, 0.3);
    border-radius: 0 0 5px 5px;
    transition: all 0.5s ease; }
    .wrapper-top #navbar #menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      list-style: none;
      line-height: 60px;
      justify-content: space-around;
      padding: 0;
      margin: 0; }
      .wrapper-top #navbar #menu li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
      .wrapper-top #navbar #menu i {
        color: rgba(255, 255, 255, 0.3);
        padding-right: 10px;
        font-size: 19px;
        line-height: 60px; }
      .wrapper-top #navbar #menu a {
        color: inherit;
        text-decoration: none;
        display: inline-block; }
      .wrapper-top #navbar #menu a:after {
        position: relative;
        content: '';
        display: block;
        height: 1px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
        top: -15px; }
      .wrapper-top #navbar #menu a:hover:after {
        width: 100%;
        background: white; }

#post-header {
  width: 100%;
  height: 340px; }

.wrapper-mid {
  margin: auto;
  width: 60%;
  background-color: #FFFFFF;
  border-top: 7px solid;
  border-bottom: 7px solid;
  border-color: rgba(23, 23, 23, 0.9);
  border-radius: 5px;
  margin-bottom: 60px; }

#pocetna #image-slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden; }
  #pocetna #image-slider i {
    position: absolute;
    font-size: 34px;
    top: 45%;
    z-index: 5;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    font-weight: 900 !important;
    width: 34px;
    height: 34px; }
  #pocetna #image-slider i:hover {
    opacity: 0.9; }
  #pocetna #image-slider #prev {
    float: left;
    left: 20px; }
  #pocetna #image-slider #next {
    float: right;
    right: 20px; }
  #pocetna #image-slider img {
    position: absolute;
    left: 0;
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%; }
#pocetna #info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 160px;
  color: #555555;
  background-color: #ebebeb; }
  #pocetna #info .wrapper-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 24%; }
  #pocetna #info .icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #pocetna #info .icons i {
      font-size: 5em;
      color: #72968f; }
  #pocetna #info .hours {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #pocetna #info h2 {
    margin: 0; }
  #pocetna #info p {
    font-family: "PT Sans"; }
#pocetna #welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: #FFFFFF; }
  #pocetna #welcome #welcome-message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto; }
  #pocetna #welcome h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #555555; }
  #pocetna #welcome p {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-family: "PT Sans";
    color: #656565; }

#o-nama h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #555555; }
#o-nama p {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-family: "PT Sans";
  color: #656565; }
#o-nama #o-nama-top {
  border-bottom: 1px solid rgba(23, 23, 23, 0.1); }
  #o-nama #o-nama-top #opcenito {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px; }
#o-nama #o-nama-bot #tko-smo {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px; }
  #o-nama #o-nama-bot #tko-smo #container-ljudi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    #o-nama #o-nama-bot #tko-smo #container-ljudi .ljudi {
      height: 280px;
      width: 180px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #72968f;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px; }
      #o-nama #o-nama-bot #tko-smo #container-ljudi .ljudi .picture {
        position: relative;
        height: 70%;
        width: 100%;
        overflow: hidden; }
        #o-nama #o-nama-bot #tko-smo #container-ljudi .ljudi .picture img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%; }
      #o-nama #o-nama-bot #tko-smo #container-ljudi .ljudi .ljudi-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        height: 84px; }
        #o-nama #o-nama-bot #tko-smo #container-ljudi .ljudi .ljudi-info h3 {
          margin: 0 auto;
          font-family: "Roboto Condensed";
          font-size: 22px;
          font-weight: 100;
          color: #FFFFFF;
          text-align: center;
          line-height: 1.1; }
        #o-nama #o-nama-bot #tko-smo #container-ljudi .ljudi .ljudi-info p {
          margin: 0 auto;
          font-family: "PT Sans";
          color: #FFFFFF;
          text-align: center;
          text-transform: uppercase; }

#vijesti h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #555555; }
#vijesti .container-vijesti {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(23, 23, 23, 0.1); }
  #vijesti .container-vijesti .container-image {
    width: 40%;
    min-width: 200px;
    max-width: 400px; }
    #vijesti .container-vijesti .container-image img {
      width: 100%;
      max-height: 300px; }
  #vijesti .container-vijesti .short-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 55%; }
    #vijesti .container-vijesti .short-text h3 {
      margin: 0 auto;
      margin-bottom: 10px;
      text-align: left;
      color: #555555; }
    #vijesti .container-vijesti .short-text p {
      margin-top: 0;
      margin-bottom: 16px;
      text-align: left;
      font-family: "PT Sans";
      color: #656565; }
  #vijesti .container-vijesti .long-text p {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: left;
    font-family: "PT Sans";
    color: #656565; }

.wrapper-bot {
  width: 60%;
  height: 400px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #282828;
  border-radius: 5px; }
  .wrapper-bot #container-bot {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .wrapper-bot #container-bot #container-bot-left h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: "Roboto Condensed";
      font-size: 22px;
      font-weight: 300;
      color: #FFFFFF;
      opacity: 0.8;
      line-height: 1.1; }
    .wrapper-bot #container-bot #container-bot-left #kontakt-info {
      margin-top: 0;
      margin-bottom: 10px;
      list-style: none;
      padding: 0; }
      .wrapper-bot #container-bot #container-bot-left #kontakt-info li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
        line-height: 22px; }
        .wrapper-bot #container-bot #container-bot-left #kontakt-info li i {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.2);
          padding-right: 10px;
          line-height: 22px; }
        .wrapper-bot #container-bot #container-bot-left #kontakt-info li a {
          color: #72968f;
          text-decoration: none; }
        .wrapper-bot #container-bot #container-bot-left #kontakt-info li a:hover {
          color: #5b7a74; }
    .wrapper-bot #container-bot #container-bot-right h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: "Roboto Condensed";
      font-size: 22px;
      font-weight: 300;
      color: #FFFFFF;
      opacity: 0.8;
      line-height: 1.1; }
    .wrapper-bot #container-bot #container-bot-right #adresa-info {
      margin-top: 0;
      margin-bottom: 10px;
      list-style: none;
      padding: 0; }
      .wrapper-bot #container-bot #container-bot-right #adresa-info li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
        line-height: 22px; }

@media (max-width: 599px) {
  .wrapper-mid {
    width: 90%; }

  .wrapper-bot {
    width: 90%; }

  .wrapper-top #navbar {
    width: 90%; } }
@media (min-width: 600px) and (max-width: 899px) {
  .wrapper-mid {
    width: 80%; }

  .wrapper-bot {
    width: 80%; }

  .wrapper-top #navbar {
    width: 80%; } }
@media (min-width: 900px) and (max-width: 1199px) {
  .wrapper-mid {
    width: 80%; }

  .wrapper-bot {
    width: 80%; }

  .wrapper-top #navbar {
    width: 80%; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  .wrapper-mid {
    width: 70%; }

  .wrapper-bot {
    width: 70%; }

  .wrapper-top #navbar {
    width: 70%; } }

/*# sourceMappingURL=blanje.css.map */
