@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

$primaryColor: #ebebeb;
$secondaryColor: #ffffff;
$textColor: #555555;
$borderColor: rgba(255, 255, 255, 0.3);
$primaryFont: "Roboto Condensed";
$secondaryFont: "PT Sans";

body { 
  background: url("../images/background.png") no-repeat center fixed; 
  background-size: cover;
  font-family: $primaryFont;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1em;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7em;
}

#wrapper-top {
  position: absolute;
  width: 100%;
  top: 340px;

  #header {
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
  
    h1 {
      font-size: 42px;
      margin: 0;
      line-height: 120px;
      color: white;
      text-transform: uppercase;
    }
  }
  
  #navbar {
    margin: auto;
    width: 45%;
    height: 60px;
    background-color: rgba(23, 23, 23, 0.3);
    border-radius: 0 0 5px 5px;

    #menu {
      @include flexbox;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      list-style: none;
      line-height: 60px;
      justify-content: space-around;
      padding: 0;

      li {
        display: inline-flex;
        vertical-align: middle;
      }

      i {
        color: $borderColor;
        padding-right: 10px;
        font-size: 19px;
        line-height: 60px;
      }

      a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
      }

      a:after {
        position: relative;
        content: '';
        display: block;
        height: 1px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
        top: -15px;
      }

      a:hover:after{
        width: 100%;
        background: white;
      }
    }
  }
}

#wrapper-mid {
  position: relative;
  margin: auto;
  top: 860px;
  width: 59%;
  height: 860px;
  //background-color: rgba(255, 255, 255, 0.3);
  //background-color: white;
  border-top: 7px solid;
  border-bottom: 7px solid;
  border-top-color: rgba(23, 23, 23, 0.8);
  border-radius: 5px 5px 0 0;
  
  #image-slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    
    i {
      position: absolute;
      font-size: 34px;
      top: 45%;
      z-index: 5;
      color: rgba(0, 0, 0, 0.6);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      font-weight: 900 !important;
      width: 34px;
      height: 34px;
    }

    i:hover {
      opacity: 0.9;
    }

    #prev {
      float: left;
      left: 20px;
    }

    #next {
      float: right;
      right: 20px;
    }

    img {
      position: absolute;
      left: 0;
      display: none;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  #info {
    width: 100%;
    height: 160px;
    color: $textColor;
    background-color: $primaryColor;
    @include flexbox;
    justify-content: space-around;
    
    .wrapper-info {
      @include flexbox;
      justify-content: space-around;
      width: 24%;
    }

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;

      i {
        font-size: 5em ;
      color: #72968f;
      }
    }

    .hours {
      display: flex;
      flex-direction: column;
      justify-content: center;    
    }

    h2 {
      margin: 0;
    }

    p {
      font-family: $secondaryFont;
    }
  }

  #welcome {
    width: 100%;
    height: 250px;
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #welcome-message {
      width: 1000px;
      margin: 0 auto;
    }

    h2 {
      margin-top: 0; 
      margin-bottom: 10px;
      text-align: center;
      color: $textColor;
    }

    p {
      margin-top: 0; 
      margin-bottom: 16px;
      text-align: center;
      font-family: $secondaryFont;
      color: #656565;
    }
  }

}


